@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.everything {
    display: table;
    width: 100%;
    margin: 0 auto;
}

.about {
    padding-top: 20vh;
    padding-bottom: 10vh;
    width: 100%;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.about-txt {
    padding-left: 50px;
}

.about h3 {
    color: #f3746f;
    padding-top: 50px;
}

.intro {
    padding-top: 10vh;
    text-align: center;
    color: #f3746f;
}

/* search bar */
.search {
    display: flex;
    position: relative;
    top: 20%;
}

.searchTerm {
    width: 90%;
    border: 3px solid #f3746f;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #f3746f;
    background: #f3746f;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* loading */
.loading {
    text-align: center; 
    color: #f3746f; 
    padding-top: 5vh;
}

/* filter */
.filter-form {
    display: flex;
    position: relative;
    padding-top: 10vh;
    justify-content: center;
}

label {
    height: 36px;
    border: 1px solid #f3746f;
    background: #f3746f;
    text-align: right;
    color: #fff;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
}

.filter {
    border: 3px solid #f3746f;
    border-radius: 0 5px 5px 0;
    outline: none;
    color: #9dbfaf;
    height: 36px;
    width: 110px;
    margin-right: 5px;
}

/* content */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 10px;
}

.map {
    display: table;
    margin: 0 auto;
}

/* map */
.mapboxgl-popup-content {
    background: #f3746f;
}

.popup {
    text-align: left;
    font-size: 15px;
    cursor: pointer;
}

.popup img {
    width: 120px;
    height: 120px;
    margin: none;
}

.search-icon {
    font-size: 30px;
    color: rgb(65, 65, 65);
}

.marker {
    border: 2px solid #f3746f;
    background: #f2f2f2;
    text-align: center;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

/* card */
